<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Workout Tracker</div>
    <div class="panel-body">
      <div class="navbar">
        <ul class="nav nav-pills nav-justified">
          <li routerLinkActive="active">
            <a routerLink="/viewall">View All</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/create">Create</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/category">Category</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/track">Track</a>
          </li>
        </ul>
      </div>
      <div class="wrapper">
        <div class="scrollable-panel" id="style-3">
          <div class="force-overflow">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>