<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkoutTrackerContext" connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=WorkoutTrackerFinal;Integrated Security=True;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
</configuration>