<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkoutTrackerContext" connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=WorkoutTrackerDemo;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="WorkoutTrackerContext" connectionString="Data Source=(LocalDB)\v11.0;attachdbfilename=..\WorkoutTracker.API\App_Data\WorkoutTrackerDemo.mdf;Initial Catalog=WorkoutTrackerDemo;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>