@model WorkoutTracker.Web.ViewModels.WorkoutViewModel

@{
    ViewBag.Title = "View All";
}
@section scripts
{
    <script src="~/Scripts/app/view-all.js"></script>
}
<h4>View All</h4>
<hr />
<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search" id="search">
</div>
<br />
<div id="workoutContainer">
    @Html.Partial("_Workouts", Model)
</div>