<div>
  <div class="create-title">Start Workout</div>
  <br>
  <div>
    <div class="form-group">
      <label for="title" class="control-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="workout.workoutTitle" disabled>
    </div>
    <div class="form-group">
      <label for="title" class="control-label">Note</label>
      <textarea class="form-control" id="note" name="note" #note="ngModel" [(ngModel)]="workout.workoutNote" disabled></textarea>
    </div>
    <div class="form-inlne">
      <div class="form-group col-md-5" style="padding:0px">
        <label for="title" class="control-label">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" #startDate="ngModel" [ngModel]="workout.startDate | date:'yyyy-MM-dd'" required (ngModelChange)="workout.startDate = $event">
      </div>
      <div class="form-group col-md-offset-7">
        <label for="title" class="control-label">Start Time</label>
        <input type="time" class="form-control" id="startTime" name="startTime" step="1" #startTime="ngModel" [ngModel]="workout.startTime" required (ngModelChange)="workout.startTime = $event">
      </div>
    </div>
    <br>
    <div class="col-md-offset-4">
      <button class="btn btn-lg btn-success workout-btns" (click)="start(workout)">Start</button>
      <button class="btn btn-lg btn-danger workout-btns" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>