@{
    ViewBag.Title = "Track";
}

<script src="~/Scripts/Chart.min.js"></script>

@section scripts
{
    <script src="~/Scripts/app/track.js"></script>
}

<h4>Track</h4>
<hr />
<div>
    <div class="create-title">
        Workout time of Day
        <div class="pull-right">
            <i class="glyphicon glyphicon-time"></i>
            <span id="totalWorkoutTimeOfDay"></span>
        </div>
    </div>
    <br>
    <div class="create-title">
        Workout time of Week
        <div class="pull-right">
            <i class="glyphicon glyphicon-time"></i>
            <span id="totalWorkoutTimeOfWeek"></span>
        </div>
    </div>
    <br>
    <div class="create-title">
        Workout time of Month
        <div class="pull-right">
            <i class="glyphicon glyphicon-time"></i>
            <span id="totalWorkoutTimeOfMonth"></span>
        </div>
    </div>
    <br>
    <div>
        <canvas id="chartWeekData"></canvas>
    </div>
    <div>
        <canvas id="chartMonthData"></canvas>
    </div>
    <div>
        <canvas id="chartYearData"></canvas>
    </div>
</div>
