body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.main-panel-heading {
    font-family: 'Graduate', sans-serif;
    background-color:  #6d84b4;
    font-size: 30px;
    text-align: center;
}

.nav {
    padding: 10px;
    background-color: #464545;
    border-color: #464545;
    font-weight: bold;
    border-radius: 4px;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    color: white;
}

.create-title {
    padding: 10px;
    background-color: #dfe3ee;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
}

.help-block {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;  
}

.add-category {
  font-family: 'Oswald', sans-serif;  
}

.workout-btns {
  font-family: 'Oswald', sans-serif;
  width: 100px;
}

.scrollable-panel{
  /*max-height: 500px;*/
  overflow: auto;
}

.workout-success {
    font-family: 'Oswald', sans-serif; 
    color: gold;
}

.category-title {
    padding: 10px;
    background-color: #dfe3ee;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.category {
    font-family: 'Anton', sans-serif;
    color: black;
}

.category-btns {
    position: relative;
    bottom:5px;
}

.modal-category {
    padding: 10px;
}

.category-focus{
    border: thin solid black;
}

.workout-panel-heading {
    color:black !important;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}